<div id="sliderW" class="zeroPadding l9">
    <img *ngFor="let slide of slides" [src]="slide.url" id="{{slide.cssId}}" class="{{slide.cssClass}}">
</div>
<div id="slidButtW" class="l8">
    <button class="slidButt l9" id="slidButtL" (click)="callSliderMover()">
        <fa-icon [icon]="arrowL"></fa-icon>
    </button>
    <button class="slidButt l9" id="onButton">
        <fa-icon [icon]="play"></fa-icon>
    </button>
    <button class="slidButt l9" id="sliderButton">
        <p>speed</p>
    </button>
    <input type="range" min="3000" max="9000" value="{{rangeV}}" list="markers" class="slidButt l8" id="speedSlider" 
    (input)="callSliderSpeed()">
    <datalist id="markers" class="slidButt l8">
        <option value="3000"></option>
        <option value="4500"></option>
        <option value="6000"></option>
        <option value="7500"></option>
        <option value="9000"></option>
    </datalist>
    <button class="slidButt l9" id="slidButtR" (click)="callSliderMover()">
        <fa-icon [icon]="arrowR"></fa-icon>
    </button>
</div>